export DB_USER=root
export DB_PASSWORD=password
export DB_HOST=localhost
export DB_NAME=music_rails_app_production
export SPOTIFY_CLIENT_ID=17be5abbcf7642a1b660260e841757da
export SPOTIFY_CLIENT_SECRET=55ede21a92f644eb885b919942701f99
export CARRIERWAVE_PROVIDER=AWS
export AWS_ACCESS_KEY_ID=AKIA6GUM2VO6OKTGIW4C
export AWS_SECRET_ACCESS_KEY=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
export AWS_REGION=ap-northeast-1
